<ion-item class="ion-margin-top">
  <ion-label>
    <ion-icon name="accessibility"></ion-icon>
    Issue Initiator
  </ion-label>
  <ion-input readonly="true" type="text" [value]="issueDetails?.issueInitiator.name" class="ion-text-end" color="medium">
  </ion-input>
</ion-item>
<ion-item class="ion-no-padding ion-margin">
  <ion-avatar slot="start">
    <img src="{{(issueDetails?.issueInitiator.picUrl) ? issueDetails?.issueInitiator.picUrl : 'assets/shapes.svg'}}"
      (error)="profileImgErrorHandler(issueDetails?.issueInitiator)" />
  </ion-avatar>
  <ion-label>
    <h3>{{issueDetails?.issueInitiator?.name}}</h3>
    <p>{{issueDetails?.issueInitiator?.email}}</p>
  </ion-label>
</ion-item>
<ion-item>
  <ion-label>
    <ion-icon name="person"></ion-icon>
    Issue Owner
  </ion-label>
  <ion-input readonly="true" type="text" [value]="issueDetails?.issueOwner.name" class="ion-text-end" color="medium">
  </ion-input>
  <ion-buttons slot="end">
    <ion-button slot="end" (click)="showSelectOwner=!showSelectOwner">
      <ion-icon slot="icon-only" name="create-outline" color="primary"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<app-select-users *ngIf="showSelectOwner" [sessionInfo]="sessionInfo"
  [alreadySelectedUserList]="issueDetails?.issueOwner?.uid || issueDetails?.issueOwner?.name ? [issueDetails?.issueOwner] : []"
  [multiSelect]="false"
  [showAddNonPermUser]="true"
  (onSelectionComplete)="changeIssueOwner($event)"></app-select-users>
<ion-item *ngIf="!showSelectOwner" class="ion-margin-bottom">
  <ion-avatar slot="start">
    <img src="{{(issueDetails?.issueOwner.picUrl) ? issueDetails?.issueOwner.picUrl : 'assets/shapes.svg'}}"
      (error)="profileImgErrorHandler(issueDetails?.issueOwner)" />
  </ion-avatar>
  <ion-label>
    <h3>{{issueDetails?.issueOwner?.email ? issueDetails?.issueOwner?.name : 'Please assign the issue owner'}}</h3>
    <p>{{issueDetails?.issueOwner?.email}}</p>
  </ion-label>
</ion-item>
