<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'+ initiateData$?.service" (click)="backToPreviousPage()" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>{{initiateData$?.header}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="wave-background">
    <!-- <ion-col size="12" size-xl="1">
    </ion-col> -->
  
    <ion-col class="height-background">
      <ion-searchbar placeholder="search with name or email" [(ngModel)]="textSearch" (ionChange)="filterAllMembers()">
      </ion-searchbar>
      <ion-list>
        <ion-item>
          <ion-label>
            <h1>Members selected</h1>
            <p>{{selectedMembers?.length}}-of-{{allMembers?.length}}</p>
          </ion-label>
        </ion-item>
        <!-- </ion-list-header> -->
        <!-- for risk/issue/task -->
        <ion-radio-group [(ngModel)]="selectMemberUsingRadionBtn" (ionChange)="pushOrRemoveMemberRadioBtn()" *ngIf="initiateData$?.service !== 'Meeting'">
        <ion-item *ngFor="let member of allMembers;let i=index">
          <ion-avatar [ngStyle]="{'height':'auto','width':'40px'}" slot="start">
            <img *ngIf="member?.picUrl != ''" src="{{member?.picUrl}}" [ngStyle]="{'height':'40px','width':'40px'}">
            <ion-icon *ngIf="!member?.picUrl" color="primary" name="person-circle"
              [ngStyle]="{'height':'40px','width':'40px'}">
            </ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>{{member.name}}</h3>
            <p>{{member.email}}</p>
            <p>{{member.jobTitle}}</p>
          </ion-label>
          <ion-chip outline=true slot="end"
            [color]="member.role == 'ADMIN'?'success':member.role == 'USER'?'medium':'warning'">
            <ion-label class="ion-text-lowercase">{{member?.role}}</ion-label>
          </ion-chip>
          <ion-radio slot="end" *ngIf="initiateData$?.service !== 'Meeting'" [id]="i" [value]="member"></ion-radio>
        </ion-item>
      </ion-radio-group>

        <!-- for meeting -->
        <div *ngIf="initiateData$?.service == 'Meeting'">
        <ion-item *ngFor="let member of allMembers;let i=index" >
          <ion-avatar [ngStyle]="{'height':'auto','width':'40px'}" slot="start" *ngIf="initiateData$?.service == 'Meeting'">
            <img *ngIf="member?.picUrl != ''" src="{{member?.picUrl}}" [ngStyle]="{'height':'40px','width':'40px'}">
            <ion-icon *ngIf="!member?.picUrl" color="primary" name="person-circle" [ngStyle]="{'height':'40px','width':'40px'}">
            </ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>{{member.name}}</h3>
            <p>{{member.email}}</p>
            <p>{{member.jobTitle}}</p>
          </ion-label>
          <ion-chip outline=true slot="end" [color]="member.role == 'ADMIN'?'success':member.role == 'USER'?'medium':'warning'">
            <ion-label class="ion-text-lowercase">{{member?.role}}</ion-label>
          </ion-chip>
          <ion-checkbox slot="end" [checked]="member?.checked" (ionChange)="pushOrRemoveMember($event,member)"
            *ngIf="initiateData$?.service == 'Meeting'">
          </ion-checkbox>
        </ion-item>
      </div>
        <ion-item lines="none">
          <ion-button fill="outline" size="small" slot="start" (click)="backToPreviousPage()">
            <ion-icon name="arrow-back"></ion-icon>
            Back
          </ion-button>
          <ion-button fill="outline" size="small" slot="end" (click)="formTwoSubmit()">
            Next
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col>
      <ion-card>
      <ion-card-header>
        <h1>
          <ion-icon name="calendar" solt="start"></ion-icon>
          Attendees
        </h1>
      </ion-card-header>
      <ion-card-content>
        <p>Add new meeting, create notes, share information and link related tasks, issues and risk.</p>
        <p text-right>Select attendee for the list</p>
        <p text-right>Add new user, if any</p>
      </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-xl="1">
    </ion-col>
  </ion-row>

</ion-content>
