<ion-item >
  <ion-label>
    <ion-icon name="bookmark"></ion-icon>
    Status
  </ion-label>
  <ion-button slot="end"
    [color]="meetingDetails.status=='OPEN'? 'warning' : meetingDetails.status=='COMPLETED' ? 'green' : 'danger'"
    class="ion-padding-start ion-padding-end"
    >
    {{meetingDetails.status}}
  </ion-button>
</ion-item>
<ion-item>
  <ion-label>
    <ion-icon name="person-circle"></ion-icon>
    Organiser
  </ion-label>
  <ion-input  readonly="true" type="text" [value]="meetingDetails.ownerId.name" class="ion-text-end"  color="medium">
  </ion-input>
</ion-item>

<ion-item >
  <ion-label><ion-icon name="people-circle"></ion-icon> Attendees</ion-label>
</ion-item>
<ion-list>
  <ion-item *ngFor="let data of meetingDetails.attendeeList; let i = index;">
    <ion-avatar slot="start">
      <img
        src="{{(data.picUrl) ? data.picUrl : 'assets/imgs/shapes.svg'}}"
        (error)="profileImgErrorHandler(data)"/>
    </ion-avatar>
    <ion-label>
      <h3>{{data.name}}</h3>
      <p><small>{{data.email}}</small></p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button slot="end" [color]="data.accepted=='accept' ? 'success' : data.accepted=='decline' ? 'danger' : 'medium'">
        <ion-icon name="paw" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
