<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<!-- <ion-content> -->
<!-- <ion-toolbar>

</ion-toolbar>
<ion-button (click)="googleSignup()">Sign in</ion-button>
  <ion-card>
    <ion-card-content>
      {{ userInfo | json}}
    </ion-card-content>
  </ion-card> -->
  <ion-content fullscreen class="ion-padding" scroll-y="false" *ngIf="!userData && !signinUi">
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let ftr of signInFeatures">
        <div class="slide">
          <!-- <img src="./slide-1.png"/> -->
          <ion-icon [name]="ftr.icon" slot="start" color="medium"></ion-icon>
          <h2>{{ftr.title}}</h2>
          <p *ngFor="let txt of ftr.details">{{txt}}</p>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>
  <ion-row #signinContainer id="signinContainer" class="ion-no-padding" *ngIf="!userData && signinUi">
    <ion-col size="1" class="ion-hide-xl-down">
    </ion-col>
    <ion-col size="12" size-md class="ion-hide-md-down">
      <ion-card color="" mode="ios" class="ion-no-margin ion-margin-top" *ngFor="let ftr of signInFeatures">
        <ion-card-header color="" class="">
          <ion-item color="" lines="none">
            <ion-icon [name]="ftr.icon" slot="start" color="medium"></ion-icon>
            <ion-label class="ion-text-wrap ion-text-end">
              <h1><ion-text color="">{{ftr.title}}</ion-text></h1>
              <p *ngFor="let txt of ftr.details">
                <small><ion-text color="">{{txt}}</ion-text></small>
              </p>
            </ion-label>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <!-- <ion-col size="12" size-md class="ion-hide-md-down">
      <ion-card color="" class="ion-no-border">
        <ion-card-header>
          <ion-item color="transparent">
            <ion-icon size="large" slot="start" name="calendar"></ion-icon>
            <ion-label><h1 class="ion-text-end">commonModule</h1></ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
            <p class="ion-padding">
              {{signInWelcomeTxt}}
            </p>
        </ion-card-content>
      </ion-card>
    </ion-col> -->
    <ion-col size="12" size-md>
      <div class="ion-margin  ion-padding-bottom signin-banner">
        <ion-item lines="full">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <h2>Sign In</h2>
        </ion-item>
        <ion-row class="ion-justify-content-center" *ngIf="isMobile && showGooglesignin">
          <!-- <ion-card class=""> -->
          <ion-card class="overlay-sigin-button">
            <ion-card-content class="ion-no-padding">
              <ion-button (click)="googleSignup()" fill="clear" mode="md" class="ion-item-align">
                <ion-icon name="logo-google" slot="start"></ion-icon>
                <ion-note class="ion-padding-start ion-padding-end">
                  S<ion-text class="ion-text-lowercase">ign in with</ion-text> G<ion-text class="ion-text-lowercase">oogle</ion-text>
                </ion-note>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-row>
        <div #firebaseuiauthcontainer id="firebaseuiauthcontainer" class="signin-container">
        </div>
        <ion-row class="ion-justify-content-center" *ngIf="isMobile && showResetButton">
          <ion-col size="1"></ion-col>
          <ion-col>
            <ion-button (click)="resetAuthButtons()" color="tertiary" expand="block" mode="md" class="ion-item-align">
              Ok
            </ion-button>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </div>
    </ion-col>
    <ion-col size="12" size-md class="ion-hide-md-up">
      <ion-card color="" mode="ios" class="ion-no-margin ion-margin-top" *ngFor="let ftr of signInFeatures">
        <ion-card-header color="" class="">
          <ion-item color="" lines="none">
            <ion-icon [name]="ftr.icon" slot="start" color="medium"></ion-icon>
            <ion-label class="ion-text-wrap ion-text-end">
              <h1><ion-text color="">{{ftr.title}}</ion-text></h1>
              <p *ngFor="let txt of ftr.details">
                <small><ion-text color="">{{txt}}</ion-text></small>
              </p>
            </ion-label>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <!-- <ion-col size="12" size-md class="ion-hide-md-up">
      <ion-card color="">
        <ion-card-header>
          <ion-item color="transparent">
            <ion-icon size="large" slot="start" name="calendar"></ion-icon>
            <ion-label><h1 class="ion-text-end">commonModule</h1></ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
            <p class="ion-padding">
              {{signInWelcomeTxt}}
            </p>
        </ion-card-content>
      </ion-card>
    </ion-col> -->
    <ion-col size="1" class="ion-hide-xl-down">
    </ion-col>
  </ion-row>
