<ion-item lines="none" *ngIf="viewMode=='edit'">
  <ion-label class="ion-text-end">
    <p><ion-text color="medium">Seach and link meetings</ion-text></p>
  </ion-label>
  <ion-buttons slot="end" *ngIf="linkedMeetings">
    <ion-button slot="end" (click)="showSearchList=!showSearchList">
      <ion-icon slot="icon-only" [name]="showSearchList ? 'close' : 'search'"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item *ngIf="showSearchList && linkedMeetings?.length>0">
  <ion-icon slot="start" name="attach"></ion-icon>
  <ion-label>
    <h2>Selected linked meetings</h2>
  </ion-label>
</ion-item>
<ion-card *ngIf="linkedMeetings?.length==0" class="ion-no-padding">
  <ion-item lines="none">
    <ion-icon name="information-circle-outline"  slot="start" color="medium"></ion-icon>
    <ion-label class="ion-text-wrap" color="medium">
      <p>
        No linked meeting found. If you have edit permission, you may wish to
        link other meetings through edit option,
        else ask the owner to link the related meetings.
      </p>
    </ion-label>
  </ion-item>
</ion-card>
<app-meeting-list *ngIf="showSearchList"
  viewMode="linkage"
  [excludeList]="linkedMeetings"
  (onSelectMeeting)="linkSelectedMeeting($event)"
  ></app-meeting-list>
<ion-card class="ion-no-padding" *ngFor="let m of linkedMeetings ? linkedMeetings : [null,null];"  button="true" (click)="openMeetingDetails(m)">
  <ion-item lines="none" color="transparent">
    <ion-chip *ngIf="m" size="small"  slot="start" color="primary">{{m.data.meetingStart| date : 'shortTime'}} - {{m.data.meetingEnd| date : 'shortTime'}}</ion-chip>
    <ion-label class="ion-no-padding ion-no-margin">
      <h3 *ngIf="m">{{m.data.meetingStart| date : 'mediumDate'}}</h3>
      <ion-skeleton-text *ngIf="!m" animated style="width: 70%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-card-content class="ion-no-padding ion-padding-start ion-padding-end">
    <ion-item lines="none" class="ion-no-padding"  color="transparent">
      <ion-label class="ion-no-padding ion-no-margin ion-text-wrap">
        <h1 *ngIf="m"><small>{{m.data.meetingTitle}}</small></h1>
        <ion-skeleton-text *ngIf="!m" animated style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none"  color="transparent">
      <img src="{{(m?.data.ownerId.picUrl) ? m?.data.ownerId?.picUrl : 'assets/shapes.svg'}}"
      (error)="profileImgErrorHandler(m.data.ownerId)"
        style="height:30px; width:30px;border-radius:50%;"
        />
      <ion-label class="ion-padding-start">
        <h2  *ngIf="m">Organiser</h2>
        <p *ngIf="m"><ion-text color="medium">{{m.data.ownerId.name}}</ion-text></p>
        <ion-skeleton-text *ngIf="!m" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text *ngIf="!m" animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
