<ion-item class="" lines="none">
  <ion-buttons slot="start">
    <ion-button slot="start" fill="solid"
      color="{{riskDetails?.riskStatus=='RESOLVED' ? 'success' : riskDetails?.riskStatus=='OPEN' ? 'warning' : 'primary'}}">
      <ion-icon slot="start" name="locate"></ion-icon>
      {{riskDetails?.riskInitiationDate| date : 'mediumDate'}}

    </ion-button>
    <ion-button slot="start" fill="solid" color="medium">
      <ion-icon slot="start" name="pencil"></ion-icon>
      {{riskDetails?.targetCompletionDate| date : 'mediumDate'}}
    </ion-button>
  </ion-buttons>


  <!-- <ion-chip
    color="{{riskDetails?.status=='COMPLETED' ? 'success' : riskDetails?.status=='OPEN' ? 'warning' : 'primary'}}">
    <ion-icon name="time-outline"></ion-icon>
    <ion-label>{{riskDetails?.riskInitiationDate| date : 'mediumDate'}}
    </ion-label>
  </ion-chip>
  <ion-label class="ion-no-padding ion-no-margin">
    <h2>
      <ion-icon name="calendar" color="medium"></ion-icon> {{riskDetails?.targetCompletionDate| date : 'mediumDate'}}
    </h2>
  </ion-label> -->
</ion-item>
<ion-item>
  <ion-label class="ion-text-wrap">
    <h1>
      {{riskDetails?.riskTitle}}
    </h1>
  </ion-label>
</ion-item>
<ion-item *ngIf="riskDetails?.tags?.length>0" lines="none" class="ion-text-wrap">
  <ion-chip *ngFor="let data of riskDetails?.tags; let i = index" outline="true" color="warning">{{data}}</ion-chip>
</ion-item>
<ion-item lines="full">
  <ion-label slot="start">
    <ion-icon name="bookmark"></ion-icon> Status
  </ion-label>
  <ion-button slot="end"
    [color]="riskDetails?.riskStatus=='OPEN'? 'warning' : riskDetails?.riskStatus=='RESOVLED' ? 'green' : 'primary'"
    class="ion-padding-start ion-padding-end">
    {{riskDetails?.riskStatus}}
  </ion-button>
</ion-item>
