<ion-item>
  <ion-label>
    <ion-icon name="accessibility"></ion-icon>
    Initiator
  </ion-label>
  <ion-input readonly="true" type="text" [value]="riskDetails?.riskInitiator.name" class="ion-text-end" color="medium">
  </ion-input>
</ion-item>
<ion-item class="ion-no-padding ion-margin" lines="none" color="light">
  <img src="{{(riskDetails?.taskInitiator.picUrl) ? riskDetails?.riskInitiator.picUrl : 'assets/shapes.svg'}}"
    (error)="profileImgErrorHandler(riskDetails?.riskInitiator)" style="height:30px; width:30px;border-radius:50%;" />
  <ion-label class="ion-padding-start">
    <p *ngIf="riskDetails">
      <ion-text color="medium">{{riskDetails?.riskInitiator.name}}</ion-text>
    </p>
  </ion-label>
</ion-item>

<ion-item>
  <ion-label>
    <ion-icon name="person-circle"></ion-icon>
    Risk Owner
  </ion-label>
  <ion-input readonly="true" type="text" [value]="riskDetails?.riskOwner.name" class="ion-text-end" color="medium">
  </ion-input>
  <ion-buttons slot="end">
    <ion-button slot="end" (click)="showSelectOwner=!showSelectOwner">
      <ion-icon slot="icon-only" name="create-outline" color="primary"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>


<app-select-users *ngIf="showSelectOwner"        [sessionInfo]="sessionInfo"
  [alreadySelectedUserList]="riskDetails?.riskOwner? [riskDetails?.riskOwner] : []" [multiSelect]="false"
  (onSelectionComplete)="changeRiskOwner($event)"></app-select-users>
<ion-item *ngIf="!showSelectOwner">
  <ion-avatar slot="start">
    <img src="{{(riskDetails?.riskOwner.picUrl) ? riskDetails?.riskOwner.picUrl : 'assets/shapes.svg'}}"
      (error)="profileImgErrorHandler(riskDetails?.riskOwner)" />
  </ion-avatar>
  <ion-label>
    <h3>{{riskDetails?.riskOwner.name}}</h3>
    <p><small>{{riskDetails?.riskOwner.email}}</small></p>
  </ion-label>
</ion-item>