.uniform-card-height{
  height: calc(100% - 48px);
}


.large-title{
  font-size: 2.4em;
  line-height: 1.25;
}
.text-paragraph{
  line-height: 1.6;
  // font-weight: normal;
}

@media (min-width: 1200px){
  .large-title{
    font-size: 2.8em;
  }
}
