// .shapes{
//     min-height: 24rem;
//     background-image: url(../../../assets/app-assets/waveBackground.svg), linear-gradient(to bottom, var(--ion-color-medium),var(--ion-color-dark),var(--ion-color-medium));
//     // width: 100%;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
// }
.no-box-shadow{
  box-shadow: none;
}


ion-slides {
      height: 100%;
    }

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide ion-icon {
  font-size: 15rem;
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}
