<ion-item lines="full">
  <ion-label slot="start">
    <ion-icon name="chatbubbles"></ion-icon> Latest Comment
  </ion-label>
  <ion-button slot="end" fill="outline" (click)="goToCommentPage(issue)">
    <ion-icon name="chatbubbles"></ion-icon>{{issueDetails?.latestComment.totalComments > 0 ?
    issueDetails.latestComment.totalComments+'
    comments':'add comment'}}
  </ion-button>
</ion-item>

<ion-item *ngIf="!issueDetails?.latestComment?.totalComments || issueDetails?.latestComment.totalComments == 0">
  <ion-icon name="send" slot="start"></ion-icon>
  <ion-label class="ion-text-wrap">
    <p>Be the first person to post comment for the issue</p>
  </ion-label>
</ion-item>
<ion-item *ngIf="issueDetails?.latestComment.totalComments !== 0">
  <ion-avatar slot="start">
    <img src="{{(issueDetails?.latestComment.picUrl) ? issueDetails?.latestComment.picUrl : 'assets/shapes.svg'}}"
      (error)="profileImgErrorHandler(issueDetails?.latestComment)" style="height:40px; width:40px;border-radius:50%;" />
    <ion-icon *ngIf="issueDetails?.latestComment.picUrl == ''" color="primary" name="person-circle"
      style="height:40px; width:40px;border-radius:50%;">
    </ion-icon>
  </ion-avatar>
  <ion-label class="ion-text-wrap">
    <h2>{{issueDetails?.latestComment.author}}</h2>
    <p class="app-twolines">{{issueDetails?.latestComment.comment}}</p>
  </ion-label>
</ion-item>
