<ion-header>
  <ion-toolbar>
    <ion-title>choose-plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-row>
   <ion-col size-lg="12" size-md="12" size-sm="12" size="12">
      <ion-item>
        <h2>{{orgProfile?.subscriptionType}}</h2>
      </ion-item>
   </ion-col>
    <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
      <ion-item>
        <ion-label>Active license: {{orgProfile?.noOfUserAllowed - orgProfile?.noOfFreeLicense }}</ion-label>
      </ion-item>
    </ion-col>
      <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
      <ion-item>
        <ion-label>Free license: {{orgProfile?.noOfFreeLicense}}</ion-label>
      </ion-item>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size-sm="4" size="12">
      <ion-item>
        <ion-label>End Date : {{orgProfile?.lastUpdateTimeStamp.toDate() | date: 'dd/MM/yyyy' }} </ion-label>
      </ion-item>
      </ion-col>
  </ion-row>
</ion-card>
 <ion-row>

   <ion-col size-lg="6" size-md="6" size-sm="6" size="12" *ngFor="let plan of allPlans; let i=index">
      <ion-card>
        <ion-item color="primary" [ngStyle]="{'background': plan.color}">
          <h1 style="color:#ffffff;">
            <!-- <small> -->
            {{ plan.planName }}
            <!-- </small> -->
          </h1>
        </ion-item>
        <ion-card-content>
          <ion-item>
            <h1>
              $ {{ plan.price }} / mo
            </h1>
          </ion-item>
          <ion-item  *ngFor="let tag of plan.tags;">
            <p>{{tag}}</p>
            <small>
              <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
            </small>
          </ion-item>
        </ion-card-content>
        <ion-item *ngIf="plan.planName !== 'Free'">
          <ion-button (click)="paymentPage(plan)">Subscribe</ion-button>
        </ion-item>
      </ion-card>
 
   </ion-col>
 </ion-row>


</ion-content>
