.verticalText{
    writing-mode: vertical-rl;
    // padding-bottom: 50%;
    position: relative;;
    top: 50%;
    transform: rotate(-180deg);
  }
.matrix-cell-margin{
  margin: 3px;
  box-shadow: none !important;
}
