<ion-row class="">
  <ion-col size="2" class="ion-no-padding ion-align-content-center verticalText">
    <p *ngIf="labelFont=='small'" class="ion-text-center ion-align-self-center">
      <ion-text color="medium"><small>Probability</small></ion-text>
    </p>
    <p *ngIf="labelFont!='small'" class="ion-text-center ion-align-self-center">
      <ion-text color="medium">Probability</ion-text>
    </p>
  </ion-col>
  <ion-col size="10" class="ion-no-padding">
    <ion-row class="ion-text-center ion-no-padding" *ngFor="let y of ['High','Medium','Low']">
      <ion-col size="4" color="primary" class="ion-no-padding" *ngFor="let x of ['Low','Medium','High']">
        <ion-card mode="md" class="ion-no-margin matrix-cell-margin"
          [color]="highLightCells[y+x]!=null ? matrixColor[y+x] : 'light'">
          <!-- <ion-card-content *ngIf="highLightCells[y+x]!=null && highLightCells[y+x].toString().trim()!=''" [class]="addPadding ? 'ion-text-center' : 'ion-text-center ion-no-padding'"> -->
          <ion-card-content [class]="addPadding ? 'ion-text-center' : 'ion-text-center ion-no-padding'">
            <p class="ion-text-center">
              <ion-text  [color]="highLightCells[y+x]? '' : 'transparent'">
                {{highLightCells[y+x]?highLightCells[y+x] : '0'}}
              </ion-text>
            </p>
          </ion-card-content>
          <!-- <ion-card-content *ngIf="highLightCells[y+x]==null || highLightCells[y+x].toString().trim()==''" [class]="addPadding ? 'ion-text-center' : 'ion-text-center ion-no-padding'">
          </ion-card-content> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="2">
  </ion-col>
  <ion-col size="10" class="ion-no-padding ion-align-content-start ion-text-center ion-padding-start">
    <p *ngIf="labelFont=='small'" class="ion-text-center">
      <ion-text color="medium"><small>Impact</small></ion-text>
    </p>
    <p *ngIf="labelFont!='small'" class="ion-text-center">
      <ion-text color="medium">Impact</ion-text>
    </p>
  </ion-col>
</ion-row>
