<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/activities"></ion-back-button>
    </ion-buttons>
    <ion-title>Search Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar>
  </ion-searchbar>
  <ion-toolbar mode="ios">
  <ion-segment [value]="options.pickMode" (ionChange)="calendarOptionsChanged($event)">
    <!-- (ionChange)="calendarOptionsChanged($event)"> -->
    <ion-segment-button value="single">
      <ion-label>Single Date</ion-label>
    </ion-segment-button>
    <ion-segment-button value="multi">
      <ion-label>Multiple Dates</ion-label>
    </ion-segment-button>
    <ion-segment-button value="range">
      <ion-label>Date Range</ion-label>
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
  <ion-calendar
    [options]="options"
    >
    <!--
    *ngIf="viewMode == 'calendar'"
      [options]="calendarMeta.calendarOptions"
      (onSelect)="onSelect($event)"
      (onSelectStart)="onSelectStart($event)"
      (onSelectEnd)="onSelectEnd($event)"
      (monthChange)="monthChanges($event)"
    -->
    </ion-calendar>
</ion-content>
