.wave-background {
  min-height: 100%;
  background-image: url("../../../../assets/app-assets/waveBackground.svg"),
    linear-gradient(
      to bottom,
      transparent,
      var(--ion-color-secondary),
      var(--ion-color-secondary),
      transparent
    );
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}
