<ion-header class="ion-hide-md-up" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Add member</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-row class="wave-background">
<ion-col>
<ion-card>
<ion-card-header>
  <ion-item lines="full">
    <ion-label><h1>Add new member</h1></ion-label>
  </ion-item>
</ion-card-header>
<ion-card-content>
  <ion-list>
    <ion-item lines="inset">
      <ion-label>
        <ion-icon name="people"></ion-icon>
      </ion-label>
      <ion-select [(ngModel)]="addUserData.role" interface="popover" slot="end">
        <ion-select-option *ngFor="let role of userRoles" [value]="role">{{ role }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="inset">
      <ion-label><ion-icon name="person-circle"></ion-icon></ion-label>
      <ion-input class="ion-text-right" type="text" placeholder="Please enter name" [(ngModel)]="addUserData.name" required></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label><ion-icon name="body"></ion-icon></ion-label>
      <ion-input class="ion-text-right" type="text" placeholder="Job description" [(ngModel)]="addUserData.jobTitle" required></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label><ion-icon name="mail"></ion-icon></ion-label>
      <ion-input class="ion-text-right" type="email" placeholder="Please enter email address" [(ngModel)]="addUserData.email" required></ion-input>
    </ion-item>
    <ion-item lines="inset">
      <ion-label><ion-icon name="call"></ion-icon></ion-label>
      <ion-input type="tel" class="ion-text-right" type="text" placeholder="Please enter contact number" [(ngModel)]="addUserData.phoneNumber" required></ion-input>
    </ion-item>
    <ion-item lines="none" class="ion-margin-top">
      <!-- <ion-button fill="clear" size="default" color="medium" slot="end" (click)="onSkip()">Skip</ion-button> -->
      <ion-button slot="end" size="default" (click)="onSubmit()">Submit</ion-button>
    </ion-item>
  </ion-list>
</ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-content>
