<ion-header>
  <ion-toolbar>
    <ion-title class="ion-hide-md-up ion-text-start">Risk details</ion-title>
    <ion-title class="ion-hide-md-down">Risk details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/risk"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-padding-end ion-margin-end">
      <ion-button slot="end"
        *ngIf="risk?.data.riskOwner.uid == sessionInfo?.uid || risk?.data.riskInitiator.uid == sessionInfo?.uid"
        (click)="editRisk()">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="sendRiskDetails()">
        <ion-icon name="paper-plane-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="end" disabled="true" class="ion-hide-lg-up">
        <ion-icon name="" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-md="6">
      <ion-card class="ion-no-padding ion-no-margin">
        <app-risk-basic-info *ngIf="sessionInfo && risk" [risk]="risk" [sessionInfo]="sessionInfo">
        </app-risk-basic-info>
        <app-risk-owner-initiator *ngIf="sessionInfo && risk" [risk]="risk" [sessionInfo]="sessionInfo">
        </app-risk-owner-initiator>
        <app-risk-probability-impact *ngIf="sessionInfo && risk" [risk]="risk" [sessionInfo]="sessionInfo"></app-risk-probability-impact>
        <app-risk-comments *ngIf="sessionInfo && risk" [risk]="risk" [sessionInfo]="sessionInfo"></app-risk-comments>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6">
      <app-risk-mitigation-contingency *ngIf="sessionInfo && risk" [risk]="risk" [sessionInfo]="sessionInfo">
      </app-risk-mitigation-contingency>
      <app-linkage *ngIf="sessionInfo && risk" [selectedObject]="risk" [itemType]="'risk'" [sessionInfo]="sessionInfo" (publishLinkage)="publishLinkage($event)"> </app-linkage>
    </ion-col>
  </ion-row>


    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-hide-md-up">
      <ion-fab-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="editRisk()" color="primary"
          *ngIf="risk?.data.riskInitiator.uid != sessionInfo?.userProfile?.uid || risk?.data.riskOwner.uid != sessionInfo?.userProfile?.uid">
          <ion-icon name="create-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->
</ion-content>
