<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Risk Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/risk"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
  <ion-col>
    <ion-item lines="none">
      <ion-button slot="start" color="danger">
        <ion-icon name="calendar" slot="start"></ion-icon>
        {{  risk?.riskInitiationDate}}
      </ion-button>
      <ion-button slot="start" color="light">
        <ion-icon name="pencil" slot="start"></ion-icon>
        {{  risk?.targetCompletionDate}}
      </ion-button>
    </ion-item>

    <ion-item lines="none">
     <ion-label>
        <h1>{{risk?.riskTitle}}</h1>
     </ion-label>
    </ion-item>


    <ion-item lines="none">
      <ion-chip *ngFor="let data of risk?.tags" color="warning">
        <ion-label>{{data}}</ion-label>
      </ion-chip>
    </ion-item>


    <ion-item lines="full">
      <ion-label slot="start">
        <ion-icon name="podium-outline"></ion-icon> Status
      </ion-label>
      <ion-label slot="end" color="medium" class="ion-text-right">
        {{risk?.riskStatus}}
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col size="4">
        <ion-button expand="full" [color]="risk?.riskStatus =='OPEN'?'warning':'light'"
        [disabled]="risk?.riskStatus !=='OPEN'">Low</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" [color]="risk?.riskStatus =='INPROGRESS'?'primary':'light'"
        [disabled]="risk?.riskStatus !=='INPROGRESS'">Medium</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" [color]="risk?.riskStatus =='RESOLVED'?'success':'light'"
        [disabled]="risk?.riskStatus !=='RESOLVED'">High</ion-button>
      </ion-col>
    </ion-row>

   
    <ion-item lines="full">
      <ion-label slot="start">
        <ion-icon color="warning" name="person-circle"></ion-icon>
        Initiator 
      </ion-label>
      <ion-input type="text" slot="end" disabled value="{{risk?.riskInitiator.name}}" class="ion-text-right"></ion-input>
    </ion-item>
    
    <ion-item lines="full">
      <ion-label>
        <ion-icon color="danger" name="hand-right"></ion-icon>
        Owner 
      </ion-label>
      <ion-input type="text" slot="end" disabled value="{{risk?.riskOwner.name}}" class="ion-text-right"></ion-input>
    </ion-item>



    <ion-item lines="full">
      <ion-label slot="start">
        <ion-icon name="crop-outline"></ion-icon>Risk Probability
      </ion-label>
      <ion-label slot="end" color="medium" class="ion-text-right">
        {{risk?.riskProbability}}
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col size="4">
        <ion-button expand="full" [color]="risk?.riskProbability =='Low'?'success':'light'"
          [disabled]="risk?.riskProbability !=='Low'">Low</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" [color]="risk?.riskProbability =='Medium'?'warning':'light'"
          [disabled]="risk?.riskProbability !=='Medium'">Medium</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" [color]="risk?.riskProbability =='High'?'danger':'light'"
        [disabled]="risk?.riskProbability !=='High'">High</ion-button>
      </ion-col>
    </ion-row>

    <ion-item lines="full">
      <ion-label slot="start">
        <ion-icon name="apps-outline"></ion-icon> Risk Impact
      </ion-label>
      <ion-label slot="end" color="medium" class="ion-text-right">
        {{risk?.riskImpact}}
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col size="4">
        <ion-button expand="full" [color]="risk?.riskImpact =='Low'?'success':'light'"
        [disabled]="risk?.riskImpact !=='Low'" >Low</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" [color]="risk?.riskImpact =='Medium'?'warning':'light'"
        [disabled]="risk?.riskImpact !=='Medium'" >Medium</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="full" [color]="risk?.riskImpact =='High'?'danger':'light'"
        [disabled]="risk?.riskImpact !=='High'">High</ion-button>
      </ion-col>
    </ion-row>


    <ion-item lines="full">
      <ion-label slot="start">
        <ion-icon name="chatbubbles"></ion-icon> Latest Comment
      </ion-label>
      <ion-button slot="end" color="medium" fill="outline" (click)="goToCommentPage(risk)">
        <ion-icon name="chatbubbles"></ion-icon>{{risk?.latestComment.totalComment > 0? risk.latestComment.totalComment+' comments':'add comment'}} 
      </ion-button>
    </ion-item>
     
    <ion-item lines="full" *ngIf="risk?.latestComment.totalComment == 0">
    <ion-label slot="start" color="medium" >
      <ion-icon name="send-outline"></ion-icon> Be the first person to post comment for the risk
    </ion-label>
    </ion-item>
    <ion-item lines="full" *ngIf="risk?.latestComment.totalComment !== 0">
      <ion-avatar slot="start">
        <img slot="start" *ngIf=" risk?.latestComment.picUrl !== ''"
          [src]="risk?.latestComment.picUrl" style="height:40px; width:40px;border-radius:50%;" />
        <ion-icon *ngIf="risk?.latestComment.picUrl == ''" color="primary"
         name="person-circle" 
         style="height:40px; width:40px;border-radius:50%;"
         >
        </ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{risk?.latestComment.author}}</h2>
        <p>{{risk?.latestComment.comment}}</p>
      </ion-label>
    </ion-item>
  </ion-col>

  <ion-col>
    <ion-item lines="full">
      <ion-label slot="start">
        <ion-icon name="create-outline"></ion-icon> Risk Mitigation
      </ion-label>
    </ion-item>
    
    <ion-item lines="none">
    <ion-textarea rows="6" cols="20" disabled readonly>
      {{risk?.riskMitigation}}
    </ion-textarea>
    </ion-item>

    <ion-item lines="full">
      <ion-label slot="start">
        <ion-icon name="git-compare-outline"></ion-icon> Risk Mitigation
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-textarea rows="6" cols="20" disabled readonly>
          {{risk?.riskContingency}}
      </ion-textarea>
    </ion-item>

  </ion-col>
</ion-row>
</ion-content>
