<ion-item>
  <ion-label>
    <ion-icon name="accessibility"></ion-icon>
    Initiator
  </ion-label>
  <ion-input readonly="true" type="text" [value]="taskDetails?.taskInitiator.name" class="ion-text-end" color="medium">
  </ion-input>
</ion-item>
<ion-item>
  <ion-avatar slot="start">
    <img src="{{ (taskDetails?.taskInitiator.picUrl) ? taskDetails?.taskInitiator.picUrl : 'assets/shapes.svg'}}"
      (error)="profileImgErrorHandler(taskDetails?.taskInitiator)" />
  </ion-avatar>
  <ion-label>
    <h3 *ngIf="taskDetails">
      {{taskDetails?.taskInitiator.name}}
    </h3>
    <p *ngIf="taskDetails">
      <ion-text color="medium">{{taskDetails?.taskInitiator.email}}</ion-text>
    </p>
  </ion-label>
</ion-item>
<ion-item>
  <ion-label>
    <ion-icon name="person"></ion-icon>
    Owner
  </ion-label>
  <ion-input readonly="true" type="text" [value]="taskDetails?.taskOwner.name" class="ion-text-end" color="medium">
  </ion-input>
</ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="{{(taskDetails?.taskOwner.picUrl) ? taskDetails?.taskOwner.picUrl : 'assets/shapes.svg'}}"
        (error)="profileImgErrorHandler(taskDetails?.taskOwner)" />
    </ion-avatar>
    <ion-label *ngIf="taskDetails">
      <h3><ion-text color="dark">{{taskDetails?.taskOwner.name}}</ion-text></h3>
      <p><ion-text color="medium">{{taskDetails?.taskOwner.email}}</ion-text></p>
    </ion-label>
  </ion-item>
