<ion-card class="ion-no-padding ion-no-margin">
  <ion-item>
    <ion-label>
      <ion-icon name="copy"></ion-icon>
      Agenda
    </ion-label>
    <ion-input readonly="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-textarea autoGrow="true" wrap="soft" [(ngModel)]="meetingDetails.agendas" [value]="meetingDetails?.agendas"  color="medium"
      placeholder="Please enter meeting agenda here"
    ></ion-textarea>
  </ion-item>
  <br/>
</ion-card>
<br/>
<ion-card class="ion-no-padding ion-no-margin">
  <ion-item>
    <ion-label>
      <ion-icon name="create"></ion-icon>
      Notes
    </ion-label>
    <ion-input  readonly="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-textarea autoGrow="true" wrap="soft" [(ngModel)]="meetingDetails.notes" [value]="meetingDetails?.notes" color="medium"
    placeholder="Please add meeting notes here"
    ></ion-textarea>
  </ion-item>
  <br/>
</ion-card>
