<ion-card class="ion-no-padding ion-no-margin">
  <ion-item>
    <ion-label>
      <ion-icon name="copy"></ion-icon>
      Notes
    </ion-label>
    <ion-input readonly="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-textarea autoGrow="true" readonly="true" wrap="soft" [value]="taskDetails?.taskDetails" color="medium">
    </ion-textarea>
  </ion-item>
  <br />
</ion-card>
<br />
<!-- <ion-card class="ion-no-padding ion-no-margin">
  <ion-item>
    <ion-label>
      <ion-icon name="create"></ion-icon>
      Contingency
    </ion-label>
    <ion-input readonly="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-textarea autoGrow="true" readonly="true" wrap="soft" [value]="riskDetails?.riskContingency" color="medium">
    </ion-textarea>
  </ion-item>
  <br />
</ion-card> -->