<ion-header>
  <ion-toolbar>
    <ion-title class="ion-hide-md-up ion-text-start">Meeting details</ion-title>
    <ion-title class="ion-hide-md-down">Meeting details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/meeting"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-padding-end ion-margin-end">
      <ion-button slot="end" *ngIf="meeting?.data.ownerId.uid == sessionInfo?.uid"
        (click)="editMeeting()">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="sendMinutes()">
        <ion-icon name="paper-plane-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="end" disabled="true" class="ion-hide-lg-up">
        <ion-icon name="" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-md="6">
      <ion-card class="ion-no-padding ion-no-margin">
        <app-meeting-basic-info *ngIf="sessionInfo && meeting" [meeting]="meeting" [sessionInfo]="sessionInfo"></app-meeting-basic-info>
        <app-meeting-location *ngIf="sessionInfo && meeting" [meeting]="meeting" [sessionInfo]="sessionInfo"></app-meeting-location>
        <app-meeting-attendees *ngIf="sessionInfo && meeting" [meeting]="meeting" [sessionInfo]="sessionInfo"></app-meeting-attendees>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6">
      <app-meeting-agenda-note *ngIf="sessionInfo && meeting" [meeting]="meeting" [sessionInfo]="sessionInfo"></app-meeting-agenda-note>
      <app-linkage *ngIf="sessionInfo && meeting" [selectedObject]="meeting" [sessionInfo]="sessionInfo" [alllinkages]="alllinkages"> </app-linkage>
    </ion-col>
  </ion-row>
</ion-content>
