<ion-app>
  <ion-split-pane contentId="main" [class]="isMenubarCollapsed ? 'collapsed-menu' : ''">
  <!--  the side menu  -->
  <ion-menu contentId="main" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-icon name="calendar" size="small" slot="start" class="ion-padding-start"></ion-icon>
        <ion-title *ngIf="!isMenubarCollapsed">Minutely</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item color="light" lines="none">
      <ion-button fill="clear" slot="end" (click)="isMenubarCollapsed=!isMenubarCollapsed">
        <ion-icon color="medium" [name]="isMenubarCollapsed ? 'chevron-forward-outline' : 'chevron-back-outline'"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="forward" [routerLink]="[selectedIndex==i ? p.tab : p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i" [disabled]="p.disabled">
            <ion-icon [slot]="!isMenubarCollapsed ? 'start' : ''" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label *ngIf="!isMenubarCollapsed">{{ p.title }}</ion-label>
          </ion-item>
          <ion-item *ngIf="i==appPages.length-1 && !isMenubarCollapsed" lines="none" details="false">
            <ion-icon *ngIf="!isMenubarCollapsed" name="moon" slot="start"></ion-icon>
            <ion-label *ngIf="!isMenubarCollapsed">Dark</ion-label>
            <ion-toggle *ngIf="!isMenubarCollapsed" [checked]="darkMode" color="dark" (ionChange)="changeDarkMode($event.detail.checked)" slot="end"></ion-toggle>
          </ion-item>
          <ion-item *ngIf="i==appPages.length-1 && isMenubarCollapsed" button="true" (click)="changeDarkMode(!darkMode)" lines="none" detail="false">
            <ion-icon name="moon" slot=""></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
