<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">Risk <small> {{allRisks?.length}} {{activeSearch?'result shown':'risks owned/initiated by you'}} </small></ion-title>
    <ion-button color="light" slot="end" fill="clear" size="small" (click)="naviageteAddPage()" class="ion-hide-md-down">
      <ion-icon name="add-outline"></ion-icon> Add
    </ion-button>
    <ion-button color="light" slot="end" fill="clear" size="small" (click)="toggleSearch(false)" class="ion-hide-md-down">
      <ion-icon name="search-outline"></ion-icon> Search
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col size="12" size-lg="6" color="primary"  class="ion-no-padding">
          <ion-card color="light" class="ion-no-border ion-no-padding">
            <ion-card-header>
              <h1>
                <ion-icon slot="start" name="apps"></ion-icon> Risk matrix
              </h1>
              <!-- <h1 text-right>Risk matrix</h1> -->
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="1" slot="start">
                  <p class="verticalText ion-text-center" >Probability</p>
                </ion-col>
                <ion-col size="11" *ngIf="kpiData">
                  <ion-row class="ion-text-center" *ngFor="let y of ['High','Medium','Low']">
                    <ion-col size="4" color="primary" *ngFor="let x of ['Low','Medium','High']">
                      <ion-card color="primary"
                        [class]="y=='Low' && x=='Low' ? 'aquabg'
                                          :
                                          ((y=='High' || y=='Medium') && x=='High') || (y=='High' && (x=='High' || x=='Medium')) ? 'redbg' : 'orangebg'">
                        <ion-card-content style="color: #ffffff;">
                          {{kpiData['risk'+y+x]}}
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="1">
                </ion-col>
                <ion-col size="11" class="ion-text-center">
                  <p class="">Impact</p>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-lg="6" color="primary"  class="ion-no-padding">
          <ion-card color="primary" class="ion-no-border ion-no-padding peachbg">
            <ion-card-header>
              <h1>
                <ion-icon class="ion-item-start" name="flag" color="white"></ion-icon> {{kpiData?.totalRisk}}
              </h1>
              <h1 class="ion-text-right">Risks</h1>
            </ion-card-header>
            <ion-card-content>
              <ion-row class="ion-text-right">
                <ion-col size="4">
                  {{kpiData?.openRisk}}
                </ion-col>
                <ion-col size="8">
                  Open
                </ion-col>
                <ion-col size="4">
                  {{kpiData?.inprogressRisk}}
                </ion-col>
                <ion-col size="8">
                  <ion-label class="ion-no-margin ion-no-padding">In-progress</ion-label>
                </ion-col>
                <ion-col size="4">
                  {{kpiData?.resolvedRisk}}
                </ion-col>
                <ion-col size="8">
                  <ion-label class="ion-no-margin ion-no-padding">Resolved</ion-label>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col>
    <!-- search option lg screen -->
    <div *ngIf="activeSearch" class="ion-hide-md-down">
     <!-- <app-search-component></app-search-component> -->
      <ion-searchbar showCancelButton="focus" [(ngModel)]="searchTexts" (ionChange)="searchMood()" (ionClear)="searchMood()">
      </ion-searchbar>
      
      <ion-segment (ionChange)="searchMood()" color="primary" value="all">
        <ion-segment-button value="all">
          <ion-label>Match all keywords</ion-label>
        </ion-segment-button>
        <ion-segment-button value="any">
          <ion-label>Match any keyword</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <!-- search option lg screen -->




    <!-- list risks -->
    <ion-list>    
        <div *ngFor="let risk of allRisks;let id=index">
        <ion-card class="ion-no-padding" (click)="goToDetailsPage(risk)">
          <ion-item lines="none">
            <ion-button size="small" slot="start" color="danger">
              <ion-icon name="calendar" slot="start"></ion-icon>
              {{  risk?.riskInitiationDate}}
            </ion-button>
            <ion-button size="small" slot="start" color="light">
              <ion-icon name="pencil" slot="start"></ion-icon>
              {{  risk?.targetCompletionDate}}
            </ion-button>
            <ion-button size="small" fill="clear" slot="end">
              <ion-icon name="bookmark" [color]="risk?.riskStatus == 'OPEN'?'warning':'primary'"></ion-icon>
            </ion-button>
          </ion-item>

        
          <ion-card-content>
            <ion-card-title class="ion-no-padding" color="danger">
              <h1>{{risk?.riskTitle}}</h1>
            </ion-card-title>  
        
            <ion-row>
              <!-- Owner + initiator data -->
              <ion-col size="8">

                <ion-item class="ion-no-padding" lines="none">
                  <ion-label color="dark">
                    <ion-icon color="warning" class="ion-padding-right" name="person-circle"></ion-icon>
                    <b>Initiator :</b> 
                  </ion-label>
                  <ion-input type="text" disabled value="{{risk?.riskInitiator.name}}"></ion-input>
                </ion-item>

                <ion-item class="ion-no-padding" lines="none">
                  <ion-label color="dark">
                    <ion-icon color="danger" name="hand-right" class="ion-padding-right"></ion-icon>
                    <b>Owner :</b> 
                  </ion-label>
                  <ion-input type="text" disabled value="{{risk?.riskOwner.name}}"></ion-input>
                </ion-item>

                <p class="ion-text-start">
                  <ion-icon slot="start" color="dark" name="crop" class="ion-margin-right"></ion-icon>
                  Mitigation
                </p>
                <p class="twolines">{{risk.riskMitigation ? risk.riskMitigation : 'No mitigation plan added yet'}}</p>

                
              </ion-col>
        
              <ion-col class="ion-no-padding" size="4">
                <ion-row>
                  <ion-col size="2" class="ion-float-start ion-no-padding">
                    <p class="verticalText withincard ion-text-center"><small>Probability</small></p>
                  </ion-col>
                  <ion-col size="10" class="ion-no-padding">
                    <ion-row class="ion-text-center ion-no-padding" *ngFor="let y of ['High','Medium','Low']">
                      <ion-col size="3" color="primary" class="ion-no-padding cardgraph"
                        *ngFor="let x of ['Low','Medium','High']">
                        <div
                          [class]="risk?.riskProbability+risk?.riskImpact==y+x ? y+x : 'lightbg'" style="height: 20px;background: blue;">
                       </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="2">
                  </ion-col>
                  <ion-col size="10" class="ion-no-padding ion-text-start ion-padding-left">
                    <p class="withincard" color="appash"><small>Impact</small></p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

          <ion-item class="ion-no-padding" lines="none">
            <ion-avatar *ngIf="risk?.latestComment.totalComment > 0">
            <img slot="start" *ngIf="risk.latestComment.picUrl !== ''"
              [src]="risk.latestComment.picUrl" style="height:40px; width:40px;border-radius:50%;" />
            <ion-icon *ngIf="risk.latestComment.picUrl == ''" color="primary"
              name="person-circle" style="height:40px;width:40px;border-radius:50%">
            </ion-icon>
            </ion-avatar>

            
            <ion-icon *ngIf="risk?.latestComment.totalComment == 0" slot="start" name="chatbubbles" [ngStyle]="{'height':'15px','width':'15px','border-radius':'50%'}" color="medium" class="ion-padding-right"></ion-icon>

            <!-- <div item-content class="twolines"> -->
            <ion-label>
              {{risk.latestComment.totalComments == 0 ? 'Be the first person to post comment for the risk' : risk.latestComment.comment}}
            </ion-label>
            <!-- </div> -->
          </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
    <!-- list risks -->
    </ion-col>
  </ion-row>
  


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-hide-md-up">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="naviageteAddPage()" color="primary">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toggleSearch(false)" color="primary">
        <ion-icon name="search-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>