<ion-header class="">
  <ion-toolbar color="" class="ion-padding-end">
    <ion-title>Risks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12"  size-md="4" size-lg="5" size-xl="6">
      <ion-row>
        <ion-col size="12">
          <app-kpi *ngIf="sessionInfo?.userProfile" [kpiTypes]="['risk', 'issue','riskMatrix']"></app-kpi>
        </ion-col>
        <ion-col size="12" class="ion-hide-lg-down">
          <app-risk-list viewMode="upcoming"></app-risk-list>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="12" size-md="8" size-lg="7" size-xl="6">
      <app-risk-list viewMode="upcoming" class="ion-hide-lg-up"></app-risk-list>
      <app-risk-list class="ion-hide-lg-down"></app-risk-list>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  size="small" (click)="gotoAddRisk()">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
