<ion-item lines="full">
  <ion-label slot="start">
    <ion-icon name="crop-outline"></ion-icon>Risk Probability
  </ion-label>
  <ion-label slot="end" color="medium" class="ion-text-right">
    {{riskDetails?.riskProbability}}
  </ion-label>
</ion-item>
<ion-segment [(ngModel)]="riskDetails?.riskProbability" mode="ios">
  <ion-segment-button value="Low">
    <ion-label color="warning">Low</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Medium">
    <ion-label color="primary">Medium</ion-label>
  </ion-segment-button>
  <ion-segment-button value="High">
    <ion-label color="success">High</ion-label>
  </ion-segment-button>
</ion-segment>


<ion-item lines="full">
  <ion-label slot="start">
    <ion-icon name="apps-outline"></ion-icon> Risk Impact
  </ion-label>
  <ion-label slot="end" color="medium" class="ion-text-right">
    {{riskDetails?.riskImpact}}
  </ion-label>
</ion-item>
<ion-segment [(ngModel)]="riskDetails?.riskImpact" mode="ios"
>
  <ion-segment-button value="Low">
    <ion-label color="warning">Low</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Medium">
    <ion-label color="primary">Medium</ion-label>
  </ion-segment-button>
  <ion-segment-button value="High">
    <ion-label color="success">High</ion-label>
  </ion-segment-button>
</ion-segment>