<ion-item class="">
  <ion-label>
    <ion-icon name="pencil"></ion-icon> Initiation date
  </ion-label>
  <ion-datetime displayFormat="DD MMM, YYYY" [disabled]="editMode=='update'" [max]="maxRiskInitiationDate"
    [(ngModel)]="riskDetails.riskInitiationDate"
    placeholder="Select initiation date"></ion-datetime>
</ion-item>
<ion-item *ngIf="riskDetails.riskInitiationDate" class="">
  <ion-label>
    <ion-icon name="locate"></ion-icon> Target Date
  </ion-label>
  <ion-datetime displayFormat="DD MMM, YYYY" [min]="riskDetails.riskInitiationDate" [max]="defaultMaxDate"
    [(ngModel)]="riskDetails.targetCompletionDate" (ionChange)="dateChange()"
    placeholder="Select due date"
    [disabled]="riskDetails?.riskStatus =='RESOLVED' || refInformation?.riskInitiator?.uid != sessionInfo?.userProfile?.uid"
    >
  </ion-datetime>
</ion-item>
<ion-item lines="none">
  <ion-label>
    <ion-icon name="book"></ion-icon>
   Risk title
  </ion-label>
  <ion-input readonly="true"></ion-input>
  <ion-buttons slot="end">
    <ion-button  slot="end" color="success" (click)="startSpeech('riskTitle')">
      <ion-icon slot="icon-only" name="mic"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item>
  <ion-textarea required="true" autoGrow="true" wrap="soft" spellcheck="true" [(ngModel)]="riskDetails.riskTitle"
  placeholder="Please enter risk title"
    [value]="riskDetails?.riskTitle"
    [readonly]="riskDetails?.riskStatus =='RESOLVED' || refInformation?.riskInitiator?.uid != sessionInfo?.userProfile?.uid"
    ></ion-textarea>
</ion-item>
<ion-item>
  <ion-label>
    <ion-icon name="pricetags"></ion-icon>
    Tags
  </ion-label>
  <ion-input [(ngModel)]="riskTag" [value]="riskTag" placeholder="Please enter tag keyword"
    (keyup.enter)="addTag()"></ion-input>
  <ion-buttons slot="end">
    <ion-button slot="end" (click)="addTag()" color="medium">
      <ion-icon slot="icon-only" name="add-circle-outline" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<ion-item *ngIf="riskDetails?.tags?.length>0" lines="none" class="ion-text-wrap">
  <ion-label class="ion-text-wrap">
    <ion-chip *ngFor="let data of riskDetails?.tags; let i = index" outline="true" color="primary"
      (click)="removeTag(i)">{{data}}</ion-chip>
    <p><small>
        <ion-text color="warning">Tap or click on the tag you wish to remove from the list</ion-text>
      </small></p>
  </ion-label>
</ion-item>

<ion-item lines="none">
  <ion-label>
    <ion-icon name="bookmark"></ion-icon> Status
  </ion-label>
  <ion-button slot="end"
    [color]="riskDetails?.riskStatus=='OPEN'? 'warning' : riskDetails?.riskStatus=='RESOLVED' ? 'green' : 'primary'"
    class="ion-padding-start ion-padding-end">
    {{riskDetails?.riskStatus}}
  </ion-button>
</ion-item>
<ion-segment *ngIf="editMode=='update'" mode="ios" [(ngModel)]="riskDetails.riskStatus"
  (ionChange)="statusChanged($event)">
  <ion-segment-button value="OPEN" layout="icon-start">
    <ion-label color="warning">Open</ion-label>
    <ion-icon name="ellipse-outline" color="warning"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="INPROGRESS" layout="icon-start">
    <ion-label color="primary">Inprogress</ion-label>
    <ion-icon name="checkmark-done" color="primary"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="RESOLVED" layout="icon-start">
    <ion-label color="green">Resolved</ion-label>
    <ion-icon name="checkbox-outline" color="green"></ion-icon>
  </ion-segment-button>
</ion-segment>
