.shapes {
  min-height: 100%;
  background-image: url(../../../assets/app-assets/waveBackground.svg),
    linear-gradient(
      45deg,
      var(--ion-color-light),
      var(--ion-color-medium),
      var(--ion-color-medium),
      transparent
    );
  // width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.shadow-icon {
  color: #ffffff;
  text-shadow: 5px 2px 8px #000000;
}
