<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'+ initiateData$?.service" (click)="backToPreviousPage()" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>{{initiateData$?.header}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row class="wave-background">
  <ion-col size="12" size-xl="1">
  </ion-col>
  <ion-col>
    <ion-card class="ion-padding-bottom">
      <ion-card-header>
        <ion-item lines="none"> 
        <ion-label>
          <h1>
            <ion-icon name="attach" color="success"></ion-icon>
            {{initiateData$.service == 'Meeting'? 'Agenda And Notes': initiateData$.service == 'Risk'? 'Risk Type':'Add description'
            }}
          </h1>
        </ion-label>
        </ion-item>
      </ion-card-header>
      <ion-item-divider class="ion-no-padding ion-no-margin" style="min-height:0.1rem;"></ion-item-divider>
      <ion-list>
    <div *ngIf="initiateData$.service == 'Risk'">
     <p class="ion-padding">Risk Probability</p>
      <ion-row >
        <ion-col size="4">
          <ion-button expand="full" [color]="initiateData$?.object.probability =='Low'?'success':'light'" (click)="initiateData$?.object.probability = 'Low'">Low</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="full" [color]="initiateData$?.object.probability =='Medium'?'warning':'light'" (click)="initiateData$?.object.probability = 'Medium'">Medium</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="full" [color]="initiateData$?.object.probability =='High'?'danger':'light'" (click)="initiateData$?.object.probability = 'High'">High</ion-button>
        </ion-col>
      </ion-row>

        <p class="ion-padding">Risk Impact</p>
      <ion-row *ngIf="initiateData$.service == 'Risk'">
        <ion-col size="4">
          <ion-button expand="full" [color]="initiateData$?.object.impact =='Low'?'success':'light'" (click)="initiateData$?.object.impact = 'Low'">Low</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="full" [color]="initiateData$?.object.impact =='Medium'?'warning':'light'" (click)="initiateData$?.object.impact = 'Medium'">Medium</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="full" [color]="initiateData$?.object.impact =='High'?'danger':'light'" (click)="initiateData$?.object.impact = 'High'">High</ion-button>
        </ion-col>
      </ion-row>
      </div>
      <!-- Agenda ==> for meeting -->
        <ion-item *ngIf="initiateData$.service == 'Meeting'">
          <ion-label color="dark" position="floating">
            <ion-icon name="copy"></ion-icon>
            Agenda
          </ion-label>
            <ion-textarea type="text" rows="7" [placeholder]="'Please enter '+ initiateData$?.parentModule +' agendas'" [(ngModel)]="initiateData$.object.agendas"></ion-textarea>
        </ion-item>

        <!-- Agenda ==> common for all -->
        <ion-item lines="none" *ngIf="initiateData$.service !== 'Risk'">
          <ion-label color="dark" position="floating">
            <ion-icon name="create-outline"></ion-icon>
            Notes
          </ion-label>
          <ion-textarea type="text" rows="7" [placeholder]="'Please enter '+ initiateData$?.parentModule +' notes'"  [(ngModel)]="initiateData$.object.notes"></ion-textarea>
        </ion-item>

        <!-- Agenda ==> for meeting -->
        <ion-item *ngIf="initiateData$.service == 'Risk'">
          <ion-label color="dark" position="floating">
            <ion-icon name="md-copy"></ion-icon>
            Mitigation
          </ion-label>
          <ion-textarea type="text" rows="7" [placeholder]="'Please enter '+ initiateData$?.parentModule +' mitigation'"
            [(ngModel)]="initiateData$.object.mitigation"></ion-textarea>
        </ion-item>
        
        <!-- Agenda ==> common for all -->
        <ion-item lines="none" *ngIf="initiateData$.service == 'Risk'">
          <ion-label color="dark" position="floating">
            <ion-icon name="ios-create-outline"></ion-icon>
            Contingency
          </ion-label>
          <ion-textarea type="text" rows="7" [placeholder]="'Please enter '+ initiateData$?.parentModule +' contingency'"
            [(ngModel)]="initiateData$.object.contingency"></ion-textarea>
        </ion-item>

      <ion-item lines="none">
        <ion-button fill="outline" size="small" slot="start" (click)="backToPreviousPage()">
          <ion-icon name="arrow-back"></ion-icon>
          Back
        </ion-button>
        <ion-button fill="outline" size="small" slot="end" (click)="formThreeSubmit()">
          Next
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-item>
     </ion-list>
    </ion-card>
  </ion-col>
  <ion-col>
    <ion-card color="primary" class="bluebg">
      <ion-card-header>
        <h1>
          <ion-icon name="calendar" slot="start"></ion-icon>
          Agenda
        </h1>
      </ion-card-header>
      <ion-card-content>
        <p>Add new meeting, create notes, share information and link related tasks, issues and risk.</p>
        <p text-right>Add agenda items</p>
        <p text-right>Add notes, if any</p>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="12" size-xl="1">
  </ion-col>
</ion-row>
</ion-content>
