<app-start-activity *ngIf="showCreateActivity && !queryObj"
[sessionInfo]="sessionInfo"
[allTasks]="allTasks"
[Cancel]="startNewActivity.bind(this)"
>
</app-start-activity>
<ion-toolbar color="transparent" *ngIf="!queryObj">
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-card>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <ion-icon name="body" color="success"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h1>{{allTasks?.length}}</h1>
            <p>activities</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-row class="ion-justify-content-center">
        <ion-button *ngIf="!showCreateActivity" color="primary" [disabled]="newTask?.activeTask?.length!=0" (click)="startNewActivity()">Start activity</ion-button>
        <ion-button color="green" (click)="gotoTimeSheet()">Fill timesheet</ion-button>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-toolbar>
<ion-card *ngFor="let task of allTasks ? [] : [null,null,null]; let i=index;">
  <ion-header mode="ios">
    <ion-toolbar color="light">
      <ion-item color="transparent" lines="none">
        <ion-label><h2><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></h2></ion-label>
        <ion-buttons slot="end">
          <ion-button>
              <ion-icon name="play" color="medium"></ion-icon>
            <!-- RESUME -->
          </ion-button>
          <ion-button>
              <ion-icon name="checkmark-done"  color="medium"></ion-icon>
            <!-- COMPLETE -->
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-item lines="none">
    <ion-label>
      <ion-chip>
        <ion-icon name="stopwatch-outline" color="medium"></ion-icon>
        <ion-label>
          <ion-text color="medium">..........................</ion-text>
          <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
       </ion-label>
     </ion-chip>
     <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
     </ion-label>
  </ion-item>
</ion-card>
<ion-card *ngIf="!queryObj && allTasks?.length == 0">
  <ion-card-header mode="ios">
    <ion-toolbar>
      <ion-item>
        <ion-label>
          <h1>Start activity</h1>
        </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label >
        <p>Starting an activity is simple.</p>
        <p><ion-icon name="checkbox-outline" color="success" class="ion-padding-end"></ion-icon> Click <b>Start activity</b></p>
        <p><ion-icon name="checkbox-outline" color="success" class="ion-padding-end"></ion-icon> Select a project and activity</p>
        <p><ion-icon name="checkbox-outline" color="success" class="ion-padding-end"></ion-icon> Provide hourly rate for the activity</p>
        <p><ion-icon name="checkbox-outline" color="success" class="ion-padding-end"></ion-icon> Start the activity</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-button slot="end" *ngIf="!showCreateActivity" color="primary" [disabled]="newTask?.activeTask?.length!=0" (click)="startNewActivity()">Start activity</ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-toolbar *ngIf="queryObj && allTasks?.length == 0">
  <ion-item>
    <ion-label class="ion-text-wrap">
      <p>
        <ion-text color="medium">
          No ongoing activity present for the project. You may wish to mark the project complete.
        </ion-text>
      </p>
    </ion-label>
  </ion-item>
</ion-toolbar>
<ion-card *ngFor="let task of allTasks ? allTasks : []; let i=index;">
  <ion-header mode="ios">
    <ion-toolbar [color]="task?.data?.status=='ACTIVE' ? 'secondary' : 'light'">
      <ion-item color="transparent" lines="none">
        <ion-label><h2>{{task?.data?.name}}</h2></ion-label>
        <ion-buttons slot="end">
          <ion-button
          *ngIf="task?.data?.status=='ACTIVE'"
          (click)="enableEffortEditing ? actionCancelEditEffort() : actionOnClickActivity(task, i,'PAUSE')">
              <ion-icon [name]="enableEffortEditing ? 'play' : 'pause'" ></ion-icon>
            <!-- PAUSE -->
          </ion-button>
          <ion-button
          *ngIf="!queryObj && task?.data?.status!='ACTIVE' && newTask?.activeTask?.length==0"
          (click)="actionOnClickActivity(task, i,'RESUME')">
              <ion-icon name="play" ></ion-icon>
            <!-- RESUME -->
          </ion-button>
          <ion-button  (click)="actionOnClickActivity(task, i, 'COMPLETE')">
              <ion-icon name="checkmark-done" ></ion-icon>
            <!-- COMPLETE -->
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-item lines="none">
    <ion-label>
      <ion-chip [color]="task?.data?.status=='ACTIVE' ? 'primary' : ''">
        <ion-icon name="stopwatch-outline"></ion-icon>
        <ion-label>
          {{
            (task?.data?.status == 'ACTIVE' ?
            (task?.data?.startTime ? task?.data?.startTime : 'Not known')
            :
            (task?.data?.endTime ? task?.data?.endTime : 'Not known'))
           | date:'medium'
         }}
       </ion-label>
     </ion-chip>
     <ion-chip color="transparenet" class="ion-float-end" (click)="toSearchActivity(task)">
       <ion-icon name="ellipsis-horizontal"></ion-icon>
     </ion-chip>
     <p [class]="' ' + (task?.data?.status!='ACTIVE' ? ' ion-padding-bottom' : '')">
       <ion-icon name="bookmark" size="small" class="" [color]="colorStack[(task?.projectNo - 1)%colorStack.length]"></ion-icon>
       {{task?.data?.project.title}}
     </p>
     <p *ngIf="queryObj">
       <ion-icon name="person" size="small" class="" color="medium"></ion-icon>
       {{task?.data?.user?.name}}
     </p>
    </ion-label>
  </ion-item>
  <ion-item lines="none" *ngIf="task?.data?.status=='ACTIVE'">
       <ion-row class="ion-padding-bottom ion-align-items-center">
         <ion-col class="ion-no-padding ion-margin-top" *ngIf="!enableEffortEditing">
           <!-- <ion-item lines="none" class="ion-no-padding"> -->
             <ion-buttons class="ion-justify-content-center">
               <ion-button><ion-icon name="timer-outline" color="dark"></ion-icon></ion-button>
               <ion-button *ngIf="!queryObj" disabled class="ion-hide-md-down"><ion-icon name="shuffle" color="green"></ion-icon></ion-button>
               <!-- <ion-button *ngIf="enableEffortEditing" (click)="actionCancelEditEffort()"><ion-icon name="play" color="danger"></ion-icon></ion-button>
               <ion-button *ngIf="enableEffortEditing" (click)="actionOnClickActivity(task, i,'PAUSE')"><ion-icon name="checkmark-done" color="success"></ion-icon></ion-button> -->
             </ion-buttons>
           <!-- </ion-item> -->
         </ion-col>
         <ion-col>
           <ion-item>
             <ion-label position="stacked">
               Hour
             </ion-label>
             <ion-input type="number" min=0 max=12 default=0 [(ngModel)]="hour" [disabled]="!enableEffortEditing"></ion-input>
           </ion-item>
         </ion-col>
         <ion-col>
           <ion-item>
             <ion-label position="stacked">
               Min
             </ion-label>
             <ion-input type="number" min=0 max=60 default=0 [(ngModel)]="minute" [disabled]="!enableEffortEditing"></ion-input>
           </ion-item>
         </ion-col>
         <ion-col>
           <ion-item>
             <ion-label position="stacked">
               Sec
             </ion-label>
             <ion-input type="number" min=0 max=60 default=0 [(ngModel)]="sec" [disabled]="!enableEffortEditing"></ion-input>
           </ion-item>
         </ion-col>
         <ion-col class="ion-no-padding ion-margin-top" *ngIf="enableEffortEditing">
           <!-- <ion-item lines="none" class="ion-no-padding"> -->
             <ion-buttons class="ion-justify-content-center" >
               <ion-button (click)="actionCancelEditEffort()"><ion-icon name="play" color="danger"></ion-icon></ion-button>
               <ion-button (click)="actionOnClickActivity(task, i,'PAUSE')"><ion-icon name="pause" color="primary"></ion-icon></ion-button>
               <ion-button (click)="actionOnClickActivity(task, i,'COMPLETE')"><ion-icon name="checkmark-done" color="success"></ion-icon></ion-button>
             </ion-buttons>
           <!-- </ion-item> -->
         </ion-col>
       </ion-row>
   </ion-item>
</ion-card>
