.wave-background{
  min-height: 100%;
  background-image: url(../../../assets/app-assets/waveBackground.svg), linear-gradient(45deg, var(--ion-color-light),var(--ion-color-medium),var(--ion-color-light));
  // width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
