<ion-item lines="full">
  <ion-label slot="start">
    <ion-icon name="chatbubbles"></ion-icon> Latest Comment
  </ion-label>
  <ion-button slot="end" color="medium" fill="outline" (click)="goToCommentPage(task)">
    <ion-icon name="chatbubbles"></ion-icon>{{taskDetails?.latestComment.totalComment > 0?
    taskDetails.latestComment.totalComment+'
    comments':'add comment'}}
  </ion-button>
</ion-item>

<ion-item lines="full" *ngIf="taskDetails?.latestComment.totalComment == 0">
  <ion-label slot="start" color="medium">
    <ion-icon name="send-outline"></ion-icon> Be the first person to post comment for the task
  </ion-label>
</ion-item>
<ion-item lines="full" *ngIf="taskDetails?.latestComment.totalComment !== 0">
  <ion-avatar slot="start">
    <img slot="start" *ngIf=" taskDetails?.latestComment.picUrl !== ''" [src]="taskDetails?.latestComment.picUrl"
      style="height:40px; width:40px;border-radius:50%;" />
    <ion-icon *ngIf="taskDetails?.latestComment.picUrl == ''" color="primary" name="person-circle"
      style="height:40px; width:40px;border-radius:50%;">
    </ion-icon>
  </ion-avatar>
  <ion-label>
    <h2>{{taskDetails?.latestComment.author}}</h2>
    <p>{{taskDetails?.latestComment.comment}}</p>
  </ion-label>
</ion-item>