<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'+ initiateData$?.service" (click)="backToPreviousPage()" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>{{initiateData$?.header}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
  <ion-col size="12" size-lg="7">
  <ion-card class="ion-padding-bottom">
    <ion-card-header>
      <ion-item lines="none">
        <ion-label>
          <h1>
            <ion-icon name="bookmark" slot="start" color="success"></ion-icon>
            Review and create
          </h1>
        </ion-label>
      </ion-item>

    </ion-card-header>
    <ion-item-divider class="ion-no-padding ion-no-margin" style="min-height:0.1rem;"></ion-item-divider>

    <div *ngIf="initiateData$?.service == 'Meeting'">
    <ion-item>
      <ion-label color="dark">
        <ion-icon name="pricetags"></ion-icon>
        Add tags
      </ion-label>
      <ion-input type="text" placeholder="Enter tag and add to the list" [(ngModel)]="addThisTag">
      </ion-input>
      <ion-button size="small" slot="end" fill="outline" (click)="addTags()">
        <ion-icon name="add-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-chip *ngFor="let data of initiateData$?.object.tags" (click)="deleteTag(data)">
        <ion-label>{{data}}</ion-label>
        <ion-icon name="close-circle" ></ion-icon>
      </ion-chip>
    </ion-item>
  
    <ion-item>
      <ion-label color="dark">
        <ion-icon name="md-locate"></ion-icon>
        Meeting Location
      </ion-label>
      <ion-input readonly disabled type="text">
      </ion-input>
    </ion-item>
  

    <ion-item>
      <ion-label color="dark" position="floating">
        <ion-icon name="call"></ion-icon>
        Dial-in numbers
      </ion-label>
      <ion-textarea rows="5" placeholder="Enter the dial in numbers" [(ngModel)]="initiateData$?.object.callList">
      </ion-textarea>
    </ion-item>
   </div>


  
    <ion-item lines="none">
      <h5>Summary</h5>
    </ion-item>
    <app-summary></app-summary>
    
    <ion-item lines="none">
      <ion-button fill="outline" size="small" slot="start" (click)="backToPreviousPage()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
      <ion-button size="small" slot="end" (click)="formFourSubmit()">
        Submit
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  </ion-col>
  <ion-col size="12" size-lg="5">
    <ion-card color="primary">
      <ion-card-header>
        <h1>
          <ion-icon name="calendar" slot="start"></ion-icon>
          Review and create
        </h1>
      </ion-card-header>
      <ion-card-content>
        <p>Add new meeting, create notes, share information and link related tasks, issues and risk.</p>
        <p text-right>Review the meeting details</p>
        <p text-right>Create meeting</p>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
