<ion-item>
  <ion-label>
    <ion-icon name="accessibility"></ion-icon>
    Initiator
  </ion-label>
  <ion-input readonly="true" type="text" [value]="riskDetails?.riskInitiator.name" class="ion-text-end" color="medium">
  </ion-input>
</ion-item>
<ion-item>
  <ion-avatar slot="start">
    <img src="{{ (riskDetails?.riskInitiator.picUrl) ? riskDetails?.riskInitiator.picUrl : 'assets/shapes.svg'}}"
      (error)="profileImgErrorHandler(riskDetails?.riskInitiator)" />
  </ion-avatar>
  <ion-label>
    <h3 *ngIf="riskDetails">
      {{riskDetails?.riskInitiator.name}}
    </h3>
    <p *ngIf="riskDetails">
      <ion-text color="medium">{{riskDetails?.riskInitiator.email}}</ion-text>
    </p>
  </ion-label>
</ion-item>
<ion-item>
  <ion-label>
    <ion-icon name="person"></ion-icon>
    Owner
  </ion-label>
  <ion-input readonly="true" type="text" [value]="riskDetails?.riskOwner.name" class="ion-text-end" color="medium">
  </ion-input>
</ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="{{(riskDetails?.riskOwner.picUrl) ? riskDetails?.riskOwner.picUrl : 'assets/shapes.svg'}}"
        (error)="profileImgErrorHandler(riskDetails?.riskOwner)" />
    </ion-avatar>
    <ion-label *ngIf="riskDetails">
      <h3><ion-text color="dark">{{riskDetails?.riskOwner.name}}</ion-text></h3>
      <p><ion-text color="medium">{{riskDetails?.riskOwner.email}}</ion-text></p>
    </ion-label>
  </ion-item>
