<ion-card *ngIf="linkedTasks?.length==0" class="ion-no-padding">
  <ion-item lines="none">
    <ion-icon name="information-circle-outline"  slot="start" color="medium"></ion-icon>
    <ion-label class="ion-text-wrap" color="medium">
      <p>
        No linked task found. If you have edit permission, you may wish to
        link other tasks through edit option,
        else ask the owner to link the related tasks.
      </p>
    </ion-label>
  </ion-item>
</ion-card>
<ion-card class="ion-no-padding" *ngFor="let t of linkedTasks ? linkedTasks : [null,null];"  button="true" (click)="openTaskDetails(t)">
  <ion-item lines="none" color="transparent">
    <ion-buttons slot="start">
      <ion-button slot="start" fill="solid" color="green">
        <ion-icon slot="start" name="locate"></ion-icon>
        {{t?.data.targetCompletionDate| date : 'mediumDate'}}
        <ion-skeleton-text *ngIf="!t" animated style="width: 30%"></ion-skeleton-text>
      </ion-button>
      <ion-button slot="start"  fill="solid" color="medium">
        <ion-icon slot="start" name="pencil"></ion-icon>
        {{t?.data.taskInitiationDate| date : 'mediumDate'}}
        <ion-skeleton-text *ngIf="!t" animated style="width: 30%"></ion-skeleton-text>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-card-content class="ion-no-padding ion-padding-start ion-padding-end">
    <ion-item lines="none" class="ion-no-padding"  color="transparent">
      <ion-label class="ion-no-padding ion-no-margin ion-text-wrap">
        <h1 *ngIf="t"><small>{{t.data.taskTitle}}</small></h1>
        <ion-skeleton-text *ngIf="!t" animated style="width: 80%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none"  color="transparent">
      <img src="{{(t?.data.taskOwner.picUrl) ? t?.data.taskOwner?.picUrl : 'assets/shapes.svg'}}"
      (error)="profileImgErrorHandler(t.data.taskOwner)"
        style="height:30px; width:30px;border-radius:50%;"
        />
      <ion-label class="ion-padding-start">
        <h2  *ngIf="t">Owner</h2>
        <p *ngIf="t"><ion-text color="medium">{{t.data.taskOwner.name}}</ion-text></p>
        <ion-skeleton-text *ngIf="!t" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text *ngIf="!t" animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none"  color="transparent">
      <img src="{{(t?.data.taskInitiator.picUrl) ? t?.data.taskInitiator?.picUrl : 'assets/shapes.svg'}}"
      (error)="profileImgErrorHandler(t.data.taskInitiator)"
        style="height:30px; width:30px;border-radius:50%;"
        />
      <ion-label class="ion-padding-start">
        <h2  *ngIf="t">Initiator</h2>
        <p *ngIf="t"><ion-text color="medium">{{t.data.taskInitiator.name}}</ion-text></p>
        <ion-skeleton-text *ngIf="!t" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text *ngIf="!t" animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
