<ion-header>
  <ion-toolbar color="warning">
    <ion-title>{{passObj?.parentModule | titlecase }} comments</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'+passObj?.navigateBack">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="passObj != null">
  <ion-item lines="none">
    <h1>{{passObj[passObj?.parentModule+'Title']}}</h1>
  </ion-item>
<ion-toolbar color="medium">
  <ion-title>
    <ion-icon name="chatbubbles"></ion-icon>
    Related Comments
  </ion-title>
</ion-toolbar>
<ion-list *ngIf="allComments.length > 0">
  <ion-item lines="full" *ngFor="let comment of allComments;let i = index">

    <ion-avatar slot="start">
      <img slot="start" *ngIf="comment.picUrl !== ''" [src]="comment.picUrl" style="height:40px; width:40px;border-radius:50%;" />
      <ion-icon *ngIf="comment.picUrl == ''" color="primary" name="person-circle" style="height:40px; width:40px;border-radius:50%;" >
      </ion-icon>
    </ion-avatar>

    <ion-label className="ion-text-wrap">
      <h2>{{comment.author}}</h2>
      <h3 color="medium">{{comment.date.toDate()|date:'medium'}}</h3>
      <!-- <p className="ion-text-wrap">{{comment.comment}}</p> -->
      <ion-textarea autoGrow="true" readonly="true" wrap="soft" [(ngModel)]="comment.comment"
       placeholder="Post your comment"
       [value]="comment?.comment">
      </ion-textarea>
    </ion-label>
  </ion-item>
</ion-list>


</ion-content>
<ion-footer>
  <ion-item lines="none">
    <ion-buttons slot="end">
      <ion-button slot="end" color="medium" (click)="addComment()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-textarea placeholder="Post your comment" #detailsTxt id="detailsTxt" type="text" [(ngModel)]="commentTxt"></ion-textarea> -->
    <ion-textarea autoGrow="true" readonly="false" wrap="soft" [(ngModel)]="commentTxt"
     placeholder="Post your comment"
     [value]="commentTxt">
    </ion-textarea>
  </ion-item>
</ion-footer>
