<ion-card color="light">
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <ion-item class="sectionTitle reg">
        <ion-label>
          <ion-icon name="calendar" class="icons"></ion-icon>
          From
        </ion-label>
        <ion-datetime displayFormat="YYYY" [(ngModel)]="startPeriod" [min]="minPeriod" [max]="endPeriod" (ionChange)="ionYearChange()"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col class="ion-no-padding">
      <ion-item class="sectionTitle reg">
        <ion-label>
          <ion-icon name="calendar" class="icons"></ion-icon>
          To
        </ion-label>
        <ion-datetime displayFormat="YYYY" [(ngModel)]="endPeriod" [min]="startPeriod" [max]="maxPeriod" (ionChange)="ionYearChange()"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-toolbar mode="ios">
    <ion-segment [value]="graphMode" (ionChange)="graphModeChanged($event)">
      <!-- (ionChange)="calendarOptionsChanged($event)"> -->
      <ion-segment-button value="efforts">
        <ion-label class="ion-padding-start ion-padding-end">View efforts </ion-label>
      </ion-segment-button>
      <ion-segment-button value="billing amounts">
        <ion-label class="ion-padding-start ion-padding-end">View billing amounts </ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons class="ion-hide-md-down">
      <ion-button fill="clear" size="small" (click)="onFullWidth()"
      >
        <ion-icon slot="icon-only" [name]="statsFullWidth ? 'contract' : 'expand'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar *ngIf="graphData?.graphY"> -->
    <ion-row *ngIf="graphData?.graphY">
      <ion-col size="12" [sizeMd]="statsFullWidth ? '6' : '12'">
        <ion-toolbar>
          <app-bargraph [graphX]="graphMode=='efforts' ? graphData.graphCombinedX : graphData.graphCombinedX$"></app-bargraph>
        </ion-toolbar>
      </ion-col>
      <ion-col size="12" [sizeMd]="statsFullWidth ? '6' : '12'">
        <ion-toolbar>
          <app-bargraph [graphY]="graphMode=='efforts' ? graphData.graphY : graphData.graphY$"></app-bargraph>
        </ion-toolbar>
      </ion-col>
      <ion-col size="12">
        <ion-toolbar>
          <app-bargraph [graphX]="graphMode=='efforts' ? graphData.graphX : graphData.graphX$"></app-bargraph>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  <!-- </ion-toolbar> -->
</ion-card>
