<ion-card class="ion-no-padding ion-no-margin">
  <ion-item>
    <ion-label>
      <ion-icon name="copy"></ion-icon>
      Mitigation
    </ion-label>
    <ion-input readonly="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-textarea autoGrow="true" wrap="soft"  readonly="false" [(ngModel)]="riskDetails.riskMitigation"  [value]="riskDetails?.riskMitigation" color="medium">
    </ion-textarea>
  </ion-item>
  <br />
</ion-card>
<br />
<ion-card class="ion-no-padding ion-no-margin">
  <ion-item>
    <ion-label>
      <ion-icon name="create"></ion-icon>
      Contingency
    </ion-label>
    <ion-input readonly="true"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-textarea autoGrow="true" readonly="false" wrap="soft"  [(ngModel)]="riskDetails.riskContingency" [value]="riskDetails?.riskContingency" color="medium">
    </ion-textarea>
  </ion-item>
  <br />
</ion-card>